$backColor : #555;
$fontColor : #EEE;
$borderColor : #333;
$borderRadius : 5px;

.card {
    background-color:$backColor; 
    color: $fontColor;
    border-radius: $borderRadius;
    border:1px solid $borderColor;
    padding:10px;
    box-shadow:0 4px 8px 0 rgba(0,0,0, 2);
    transition:0.3s
}